modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
